body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.mojbrojac{
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

.mojbrojac li::before{
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: #64859e;
    color: #e1e5e8;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 20px;
}

.mojbrojac li{
    counter-increment: step-counter;
    margin-top: 3px;
}

span::after{
    content: "\2713";
    color: green;
    font-weight: 900;
    font-size: 16px;
}

